<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mosthandsomedeveloper.no_screen_recording">
  
  <!-- Permissions needed for screen recording detection -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
</manifest>